@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-shine: shine 2s linear infinite;
    --animate-gradient: gradient 8s linear infinite;
  
    @keyframes shine {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -200% 0;
      }
    }
  
    @keyframes gradient {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }